#
# mod-iplimit-manager
#

# Whether the module is enabled (0 = disabled, 1 = enabled)
EnableIpLimitManager = 1

# Message to display to users when they log in multiple times
IpLimitKickMessage = "Multiple connections from the same IP are restricted."
