#
###################################################################################################
#     ____    __                                         ____                           
#    /\  _`\ /\ \__                                    /\  _`\                         
#    \ \,\L\_\ \ ,_\  __  __    ___     ___     __    \ \ \/\_\    ___   _ __   ___   
#     \/_\__ \\ \ \/ /\ \/\ \  / __`\ /' _ `\ /'__`\   \ \ \/_/_  / __`\/\`'__\/'___\ 
#       /\ \L\ \ \ \_\ \ \_\ \/\ \L\ \/\ \/\ \/\ \L\.\   \ \ \L\ \/\ \L\ \ \ \//\ \__/
#       \ `\____\ \__\\ \____/\ \____/\ \_\ \_\ \__/.\_\  \ \____/\ \____/\ \_\\ \____\
#        \/_____/\/__/ \/___/  \/___/  \/_/\/_/\/__/\/_/   \/___/  \/___/  \/_/ \/____/
#
###################################################################################################

[worldserver]

###################################################################################################
#
#    IP Limit Manager
#        Description: 동일 IP에서의 다중 접속을 제한하는 모듈입니다.
#        Default:     Enabled
#        Author:      AzerothCore Community
#

#
#    EnableIpLimitManager
#        Description: IP Limit Manager 모듈의 활성화 여부를 설정합니다.
#        Default:     1 - (활성화)
#                    0 - (비활성화)
#

EnableIpLimitManager = 1

#
#    IpLimitManager.Announce.Enable
#        Description: IP Limit Manager 모듈이 활성화되어 있음을 플레이어 로그인 시 알립니다.
#        Default:     1 - (활성화)
#                    0 - (비활성화)
#

IpLimitManager.Announce.Enable = 1


#
#    IpLimitManager.RateLimit.Enable
#        Description: 일정 시간 내 IP당 로그인하는 고유 계정 수를 제한하는 기능을 활성화합니다.
#        Default:     1 - (활성화)
#                     0 - (비활성화)
#
IpLimitManager.RateLimit.Enable = 1

#
#    IpLimitManager.RateLimit.TimeWindowSeconds
#        Description: 고유 계정 수를 체크할 시간 범위(초 단위)를 설정합니다.
#        Default:     3600 (1시간)
#
IpLimitManager.RateLimit.TimeWindowSeconds = 3600

#
#    IpLimitManager.RateLimit.MaxUniqueAccounts
#        Description: 설정된 시간 범위 내에서 허용되는 최대 고유 계정 수입니다.
#        Default:     3
#
IpLimitManager.RateLimit.MaxUniqueAccounts = 3

